Semantics at-most-once
LoggingLevel full


OP1 input ops tweeters.dat rep fact 2 routing primary address tcp://localhost:11000/op, tcp://localhost:11001/op operator spec FILTER 3,=,www.tecnico.ulisboa.pt
OP2 input ops OP1 rep fact 2 routing primary address tcp://localhost:11004/op, tcp://localhost:11005/op operator spec UNIQ 2
OP3 input ops OP2 rep fact 1 routing primary address tcp://localhost:11006/op operator spec COUNT    



%%   Interval OP1 500
%%   Status
Start OP1
Start OP2
Start OP3

Status
% Crash OP1 0 crashes replica 0 of OP1
Crash OP1 0
% Freeze OP1 1 freezes replica 1 of OP1
Freeze OP1 1
Wait 10000
% Unfreeze OP1 1 unfreezes replica 1 of OP1
Unfreeze OP1 1
Status
